<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFTPSeguridadService" />
                <binding name="BasicHttpBinding_ISeguridadService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.2.160:8090/FTPService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFTPSeguridadService"
                contract="FTPSoftrade.IFTPSeguridadService" name="BasicHttpBinding_IFTPSeguridadService" />
            <endpoint address="http://192.168.2.111:8080/SeguridadService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeguridadService"
                contract="ServiciosVUCEM.ISeguridadService" name="BasicHttpBinding_ISeguridadService" />
        </client>
    </system.serviceModel>
</configuration>